/*

Some references you may find useful:

https://developer.mozilla.org/en-US/docs/Web/CSS/background-image#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/border#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/margin#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/color#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/height#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-align#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/width#Syntax
http://www.colorzilla.com/gradient-editor/

Note that I've included the background image for the page in this folder, "grey.png"

Write your CSS rules below.

*/

.square{
  background-color: none;
  color: orange;
  height: 75px;
  width: 75px;
  text-align:center;
  font-size: 35pt;
  text-shadow:1px 1px 2px black;
}

.dark_square{
  background: linear-gradient(135deg, rgb(50,150,100),rgb(80,120,100));
}

.board{
  border: 10px rgb(50,150,50) solid;
  margin-left: auto;
  margin-right:auto;
  margin-top: 50px;
}

body{
  background-image:url(grey.png);
}
